@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
/*--------------------BackGround------------------ */
html {
  height: 100%; /* Make sure the html element covers the full height */
  font-size: 0.7rem; /* Adjust font size */

}

body {
  margin: 0;
  height: 100%; /* Make sure the body covers the full height */
  background-size: cover; /* Cover the entire viewport */
  background-attachment: fixed; /* Fix the background to the viewport */
  background-repeat: no-repeat; /* Do not repeat the background */
  overflow-x: hidden; /* Hide horizontal scroll */
  font-family: 'Exo 2', sans-serif;
  
}
  
  .basketball-create-player-page-style {
    overflow-x: hidden; /* Hide horizontal scroll */
    overflow-y: hidden;    min-height: 100vh; /* Set minimum height to 100% of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjusted to align content at the top */
    animation: fadeIn 0.2s ease-in-out; /* Apply fadeIn animation */
    
  }
  
/*--------------------TITLE------------------ */

.CP-title {
    font-family: 'Exo 2', sans-serif; /* Using Exo 2 font */
    font-weight: 700; /* Bold */
    font-size: 3rem; /* Increased font size for emphasis */
    color: rgba(0, 195, 255, 0.8); /* Faded white-orange color */
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Adding a text shadow for a 3D effect */
    margin: 20px 0; /* Adjusted margin to provide space */
  }
  

  /*--------------------INPUT CONTAINER------------------ */
  .input-container {
    margin-bottom: 20px;
  }
  
  label {
    font-family: 'Exo 2', sans-serif; /* Using Exo 2 font for labels */
    font-weight: 600; /* Semi-bold */
    font-size: 0.2rem; /* Adjust font size */
    color: #6ab3d5; /* Light blue color for labels */
    margin-bottom: 5px; /* Add a small margin below labels */
  }
  
  input {
    font-family: 'Exo 2', sans-serif; /* Using Exo 2 font for inputs */
    font-weight: 400; /* Regular weight */
    font-size: 0.2rem; /* Adjust font size */
    padding: 8px; /* Adjust padding for inputs */
    border: 1px solid #6ab3d5; /* Light blue border for inputs */
    border-radius: 22px; /* Rounded corners */
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  

/*--------------------CALCULATION BUTTON------------------ */

.calc-save-button2 {
    margin-top: 3px; /* Adjusted margin to provide space below the title */
    padding: 20px 20px; /* Adjusted padding for a larger clickable area */
    background-color: rgba(68, 182, 210, 0.775); /* Initial background color */
    color: #161005; /* Text color */
    border: 2px solid #ffffffbe; /* Border color */
    border-radius: 22px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    font-size: 1.1rem; /* Adjust font size */
  }
  
  .calc-save-button2:hover {
    background-color: #89d3eac5; /* Hover background color */
    color: rgb(0, 0, 0); /* Hover text color */
  }
  .calc-save-button2:active {
    transform: translateY(4px); /* Move the button down by 2 pixels when clicked */
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow for a 3D effect */
  }



  .EPP-back-home-button {
    margin-top: 17px;
    padding: 15px 19px;
    background-color:  #FFD8B1;
    color: #161005;
    border: 2px solid #ffffffbe;
    border-radius: 55px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
  }
  
  .EPP-back-home-button:hover {
    background-color: #be8837c5;
    color: rgb(0, 0, 0);
  }
