/* PlayerSuccessPage.css */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

/*--------------------BackGround------------------ */
html {
  height: 100%; /* Make sure the html element covers the full height */
}

body {
  margin: 0;
  height: 100%; /* Make sure the body covers the full height */
  background-size: cover; /* Cover the entire viewport */
  background-attachment: fixed; /* Fix the background to the viewport */
  background-repeat: no-repeat; /* Do not repeat the background */
  overflow-x: hidden; /* Hide horizontal scroll */
  font-family: 'Exo 2', sans-serif;
}

.PS-page-style {
  overflow-x: hidden; /* Hide horizontal scroll */
    overflow-y: hidden;    min-height: 100vh; /* Set minimum height to 100% of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjusted to align content at the top */
    animation: fadeIn 1.2s ease-in-out; /* Apply fadeIn animation */
  
}

/*--------------------TITLE------------------ */
.PS-title {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: rgba(130, 235, 130, 0.718);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

/*--------------------OVERALL------------------ */
.overall {
  font-size: 3rem;
  color: #fff;
  animation: bump 0.5s ease-in-out infinite alternate; /* Apply bump animation */
}

/*--------------------BACK HOME BUTTON------------------ */
.back-home-button {
  margin-top: 3px;
  padding: 10px 10px;
  background-color: rgba(237, 177, 14, 0.775);
  color: #161005;
  border: 2px solid #ffffffbe;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.back-home-button:hover {
  background-color: #be8837c5;
  color: rgb(0, 0, 0);
}

.back-home-button:active {
  transform: translateY(4px);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bump {
  from {
    transform: scale(1.20);
  }
  to {
    transform: scale(1.55);
  }
}
