
/*--------------------BACK HOME BUTTON------------------ */
.NGP-back-home-button {
  margin-top: 17px;
  padding: 10px 10px;
  background-color: rgba(237, 177, 14, 0.775);
  color: #161005;
  border: 2px solid #ffffffbe;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
}

.NGP-back-home-button:hover {
  background-color: #be8837c5;
  color: rgb(0, 0, 0);
}

/*--------------------RANDOMIZE TEAMS BUTTON------------------ */
.NGP-randomize-teams-button {
  margin-top: 3px;
  padding: 15px 20px;
  background-color: #98FB98; /* A pastel green color */
  color: #161005;
  border: 2px solid #ffffffbe;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Exo 2', sans-serif; /* Assuming you want to keep the Exo 2 font */
  font-size: 1.1rem; /* Adjust as needed */
  letter-spacing: 0.05rem; /* To give letters more space and improve readability */
}

.NGP-randomize-teams-button:hover {
  background-color: #0ea80e; /* A lighter pastel green for hover effect */
  color: #000000;
}
/*--------------------INSTRUCTIONS------------------ */

.NGP-instructions {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(192, 199, 209, 0.8);
  /* Adjusted text shadow for a more subtle effect */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 1px 1px;

}


/*--------------------NUM OF TEAM TO CHOOSE------------------ */

.num-of-teams {
  font-family: 'Exo 5', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: rgba(192, 199, 209, 0.8);
  /* Adjusted text shadow for a more subtle effect */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 1px 1px;

}


.instructions1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(192, 199, 209, 0.8);
  /* Adjusted text shadow for a more subtle effect */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 1px 1px;

}

.instructions2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(192, 199, 209, 0.8);
  /* Adjusted text shadow for a more subtle effect */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 1px 1px;

}

.custom-dropdown {
  width: 50px; /* Set your desired width */
  height: 40px; /* Set your desired height */
  font-size: large;
  border: 6px solid #6498cdbe;
  border-radius: 5px;
}



/*--------------------Players List------------------ */
.NGP-player-list {
  font-family: 'Exo 5', sans-serif; /* Using Exo 2 font */
  font-weight: 700; /* Bold */
  font-size: 1rem; /* Increased font size for emphasis */
  color: rgba(103, 157, 49, 0.8); /* Faded white-orange color */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Adding a text shadow for a 3D effect */
  margin: 30px 30px; /* Adjusted margin to provide space */
}

.NGP-player-cube {
  width: 150px;
  height: 80px;
  background-color:  #7cbfde; /* You can change the background color */
  margin: 10px;
  border: 2px solid #ffffffbe; /* Border color */
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
  text-decoration: none; /* Remove underline */
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3); /* Add a subtle ` shadow for a 3D effect */
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.NGP-player-cube:hover {
  background-color: #a2d2ff; /* Hover background color */
  color: rgb(0, 0, 0); /* Hover text color */
}

.NGP-player-cube:active {
  background-color: #3c77d0; /* Active background color */
  color: rgb(0, 0, 0); /* Active text color */
  transform: translateY(4px); /* Move the cube down by 4 pixels when clicked */
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow for a 3D effect */
}

.NGP-player-cube.selected {
  border: 2px solid green !important;
  background-color: lightgreen !important;
}


.NGP-player-link {
  color: #ffffff;
  text-decoration: none;
}

.NGP-player-name {
  color: #ffffff;
  text-decoration: none;
}
