@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


html,
body {
  margin: 0;
  /* Remove default body margin */
  height: 100%;
  /* Set height to 100% of the viewport */
  background: linear-gradient(to right, #222, #555);
  /* Faded black to grey gradient */
  overflow-x: hidden;


}

body {
  font-family: 'Exo 2', sans-serif;
  /* Apply the font to the entire page */
}

/*--------------------BackGround------------------ */

.home-page-style {
  background: linear-gradient(to right, #222, #555);
  background-image: url('/public/newBack.webp');
  overflow-x: hidden; /* Hide horizontal scroll */

  /* Faded black to grey gradient */
  min-height: 100vh;
  /* Set minimum height to 100% of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Adjusted to align content at the top */
  animation: fadeIn 0.3s ease-in-out;
  /* Apply fadeIn animation */
}

/*--------------------TITLE------------------ */

.app-title {
  font-family: 'Russo One', sans-serif; /* A cool and impactful font */
  font-weight: 800; /* Extra bold */
  font-size: 5rem; /* Larger font size for more impact */
  background: -webkit-linear-gradient(45deg, #f06, #aef); /* Gradient text */
  -webkit-background-clip: text;
  text-shadow: 0 0 10px #FFD8B1, 0 0 20px  #FFD8B1, 0 0 30px #ff0, 0 0 40px rgb(0, 140, 255), 0 0 70px #f06, 0 0 80px #f06, 0 0 100px #f06; /* Glowing effect */
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  display: block !important; /* Ensure it's a block element */
}



.CourtsPage-title {
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #FFD8B1;
  /* The following line adds a shadow that creates a border effect */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 20px 0;
}


/*--------------------CREATE PLAYER BUTTON------------------ */

.create-new-court-button {
  margin-top: 30px;
  /* Adjusted margin to provide space below the title */
  padding: 10px 10px;
  /* Adjusted padding for a larger clickable area */
  background-color:  #FFD8B1;
  /* Initial background color */
  color: #161005;
  /* Text color */
  border: 2px solid #ffffffbe;
  /* Border color */
  border-radius: 55px;
  /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */
  text-decoration: none;
  /* Remove underline */
}

.create-new-court-button:hover {
  background-color: #FFA366;
  /* Hover background color */
  color: rgb(0, 0, 0);
  /* Hover text color */
}

.create-new-court-button:active {
  transform: translateY(4px);
  /* Move the button down by 2 pixels when clicked */
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
  /* Add a subtle box shadow for a 3D effect */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.CourtsPage-cube {
  width: 300px;
  position: relative;
  height: 380px;
  background-color: #3c77d0;
  margin: 10px;
  border: 2px solid #ffffffbe;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  flex-direction: column; 
  justify-content: center;
}
.CourtsPage-cube.pastelOrange {
  background-color: #FFD8B1; /* Pastel Orange */
}

.CourtsPage-cube.pastelGreen {
  background-color: #B1FFC5; /* Pastel Green */
}

.CourtsPage-cube.pastelOrange:hover {
  background-color: #FFA366; /* Darker Orange on hover */
  color: rgb(252, 252, 252);
}

.CourtsPage-cube.pastelGreen:hover {
  background-color: #85FFB8; /* Lighter Green on hover */
  color: rgb(0, 0, 0);
}

.CourtsPage-cube:active {
  background-color: #3c77d0;
  color: rgb(0, 0, 0);
  transform: translateY(4px);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
}

/* Update the font size and add black text border */
.CourtsPage-cube p {
  font-size: 30px; /* Adjust the font size as needed */
  color: #ffffff;
  -webkit-text-stroke: 1px rgb(0, 0, 0); /* Black border on text */
  display: inline-block;
  margin: 50px;
  padding: 5px;
}


.delete-court-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: 3c77d0;
  /* Adjust the color as needed */
  color: white;
  /* Text color */
  padding: 2px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */
}

.delete-court-button:hover {
  background-color: darkred;
  /* Hover background color */
}

.tooltips {
  position: absolute;
  top: 100%;
  left: 23%;
  transform: translateX(-20%);
  background-color: #3498db;
  /* Ocean blue color */
  color: #fff;
  padding: 0.3px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  /* Initially hidden */
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1;
  width: 160px;
}

.player-cube:hover .tooltips {
  opacity: 11;
  visibility: visible;
}


.player-link {
  color: #ffffff;
  text-decoration: none;
}


/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .player-cube {
    width: 100%;
  }
}


.HP-registered-players {
  font-family: 'Exo 2', sans-serif;
  /* Using Exo 2 font */
  font-weight: 700;
  /* Bold */
  font-size: 2rem;
  /* Increased font size for emphasis */
  color: #3c77d0;
  /* Faded white-orange color */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  /* Adding a text shadow for a 3D effect */
  margin: 20px 0;
  /* Adjusted margin to provide space */
}