@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden; /* Hide horizontal scroll */

}
body {
  font-family: 'Exo 2', sans-serif;
  /* Apply the font to the entire page */
}

/*--------------------BackGround------------------ */

.home-page-style3 {
    overflow-x: hidden; /* Hide horizontal scroll */
    min-height: 100vh; /* Set minimum height to 100% of the viewport */
    background-image: url('/public/newBack.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjusted to align content at the top */
    animation: fadeIn 0.3s ease-in-out; /* Apply fadeIn animation */
}

/*--------------------TITLE------------------ */

.HP-title {
  font-family: 'Exo 2', sans-serif;
  /* Using Exo 2 font */
  font-weight: 700;
  /* Bold */
  font-size: 3rem;
  /* Increased font size for emphasis */
  color: rgba(255, 165, 0, 0.8);
  /* Faded white-orange color */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* Adding a text shadow for a 3D effect */
  margin: 20px 0;
  /* Adjusted margin to provide space */
}


/*--------------------CREATE GAME BUTTON------------------ */

.create-game-button {
  margin-top: 30px;
  /* Adjusted margin to provide space below the title */
  padding: 20px 20px;
  /* Adjusted padding for a larger clickable area */
  background-color: rgba(218, 160, 61, 0.669);
  /* Initial background color */
  color: #161005;
  /* Text color */
  border: 2px solid #ffffffbe;
  /* Border color */
  border-radius: 55px;
  /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */
  text-decoration: none;
  /* Remove underline */
}

.create-game-button:hover {
  background-color: #ffaa00c5;
  /* Hover background color */
  color: rgb(0, 0, 0);
  /* Hover text color */
}

.create-game-button:active {
  transform: translateY(4px);
  /* Move the button down by 2 pixels when clicked */
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
  /* Add a subtle box shadow for a 3D effect */
}



/*--------------------CREATE PLAYER BUTTON------------------ */

.create-player-buttonn {
  margin-top: 30px;
  /* Adjusted margin to provide space below the title */
  padding: 10px 10px;
  /* Adjusted padding for a larger clickable area */
  background-color: #7cbfde;
  /* Initial background color */
  color: #161005;
  /* Text color */
  border: 2px solid #ffffffbe;
  /* Border color */
  border-radius: 55px;
  /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */
  text-decoration: none;
  /* Remove underline */
}

.create-player-buttonn:hover {
  background-color: #a2d2ff;
  /* Hover background color */
  color: rgb(0, 0, 0);
  /* Hover text color */
}

.create-player-buttonn:active {
  transform: translateY(4px);
  /* Move the button down by 2 pixels when clicked */
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
  /* Add a subtle box shadow for a 3D effect */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.player-photo {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  /* Adjust as needed */
}

/*--------------------Players List------------------ */
.player-list {
  font-family: 'Exo 5', sans-serif;
  /* Using Exo 2 font */
  font-weight: 700;
  /* Bold */
  font-size: 1rem;
  /* Increased font size for emphasis */
  color: rgba(103, 157, 49, 0.8);
  /* Faded white-orange color */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  /* Adding a text shadow for a 3D effect */
  margin: 30px 30px;
  /* Adjusted margin to provide space */
}

.player-cube {
  width: 150px;
  position: relative;
  height: 80px;
  background-color: #7cbfde; /* Pastel blue color */
  /* You can change the background color */
  margin: 10px;
  border: 2px solid #ffffffbe;
  /* Border color */
  border-radius: 10px;
  /* Rounded corners */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */
  text-decoration: none;
  /* Remove underline */
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
  /* Add a subtle box shadow for a 3D effect */
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.player-cube:hover {
  background-color: #a2d2ff; /* Lighter pastel blue on hover */
  /* Hover background color */
  color: rgb(248, 243, 243);
  /* Hover text color */
}

.player-cube:active {
  background-color: #3c77d0;
  /* Active background color */
  color: rgb(0, 0, 0);
  /* Active text color */
  transform: translateY(4px);
  /* Move the cube down by 4 pixels when clicked */
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
  /* Add a subtle box shadow for a 3D effect */
}

.delete-player-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: 3c77d0;
  /* Adjust the color as needed */
  color: white;
  /* Text color */
  padding: 2px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition effect */
}


.delete-player-button:hover {
  background-color: darkred;
  /* Hover background color */
}

.tooltipsnew {
  position: absolute;
  top: 100%;
  left: 23%;
  transform: translateX(-20%);
  background-color: #a3d2fb; /* Very light pastel blue color */
  /* Ocean blue color */
  color: #fff;
  padding: 0.3px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  /* Initially hidden */
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1;
  width: 160px;
}

.player-cube:hover .tooltipsnew {
  opacity: 11;
  visibility: visible;
}


.player-link {
  color: #ffffff;
  text-decoration: none;
}


/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .player-cube {
    width: 100%;
  }
}


.HP-registered-playerss {
  font-family: 'Exo 2', sans-serif;
  /* Using Exo 2 font */
  font-weight: 700;
  /* Bold */
  font-size: 2rem;
  /* Increased font size for emphasis */
  color: #7cbfde;
  /* Faded white-orange color */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  /* Adding a text shadow for a 3D effect */
  margin: 20px 0;
  /* Adjusted margin to provide space */
}

.back-to-mycourts-button {
  position: absolute;
  top: 33px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
  color: #161515;
  background-color: #f0ead6; /* Eggshell color */
  border-radius: 4px;
}

.back-to-mycourts-button:hover {
  background-color: #d8cca7; /* Hover color */
}

