@import url('https://fonts.cdnfonts.com/css/varsity-3');


html {
  height: 100%;
  /* Make sure the html element covers the full height */
}

body {
  margin: 0;
  height: 100%;
  /* Make sure the body covers the full height */
  background-image: url('/public/6199236.jpg');
  /* Adjust the path as necessary */
  background-size: cover;
  /* Cover the entire viewport */
  background-attachment: fixed;
  /* Fix the background to the viewport */
  background-repeat: no-repeat;
  /* Do not repeat the background */
  overflow-x: hidden;
  /* Hide horizontal scroll */
  font-family: 'Exo 2', sans-serif;
}


.login-page-style {
  overflow-x: hidden;
  /* Hide horizontal scroll */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Updated from flex-start to center */
  animation: fadeIn 0.8s ease-in-out;
}




.auth-form {
  animation: slideUp 0.5s ease-out forwards;
  overflow-x: hidden; /* Hide horizontal scroll */
  background-position: center; /* Center the background image */
  background-size: cover; /* Ensure the background covers the cube */
  background-image: url('/public/basketSoccer.png'); /* Add the basketball court background */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: -145px; /* Decrease this value to bring it closer */
  max-width: 400px;
  width: 100%;
  background-color: transparent;

  color: #FFF;
  animation: fadeIn 0.8s ease-in-out;

}

.auth-form .input-group1 input[type="text"], 
.auth-form .input-group1 input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.auth-form .input-group1 input:focus {
  border-color: black; /* Black border on focus */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Stronger shadow on focus */
  outline: none; /* Remove default outline */
}

.auth-form .input-group1 input::placeholder {
  color: black; /* Set the color to black */
  opacity: 1;   /* Ensures the black color is fully opaque */
}

.logo-image {
  width: 400px;
  /* Adjust the size as needed */
  margin: 0 0 5px;
  /* Reduce bottom margin to bring it closer */
  margin-top: -60px;


}


.graffiti-title1 {
  font-size: 35px;
  /* Bigger size */
  color: #000000;
  /* Pastel yellow */
  text-shadow: 2px 2px #f9f7f4;
  /* Light blue shadow */
  font-family: 'Permanent Marker', cursive;
  /* Graffiti-style font */
  margin-bottom: 20px;
  text-align: center;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Increase space between form elements */
}

.auth-form button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #768bab;
  border-radius: 5px;
}

.auth-form button {
  background-color: #333;
  /* Black background */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition for background and shadow */
}

.auth-form button:hover {
  background-color: #444;
  /* Slightly lighter black on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* Shadow effect */
}


@media (max-width: 768px) {
  .graffiti-title {
    font-size: 77px;
  }
}

.input-group1 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #000000;
  border-color: black;

}

.error-message1 {
  color: red;
  background-color: transparent;
  font-size: 0.8rem;
  text-shadow: 0.2px 1px #0c0c0b;
  margin-top: 2px;

}

.buttonRegisterOrLogin {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-form-container {
  display: flex;
  overflow: visible;
  /* Ensure content is not clipped */
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 90%;
  padding-top: 10px; /* Adjust as needed to bring elements closer */
  margin: 100px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Keyframes for fading in the success popup */
@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Keyframes for fading out the success popup */
@keyframes popupFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* Success popup styles */
.success-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; /* Automatically centers in the middle */
  width: fit-content; /* Adjust width to content */
  height: fit-content; /* Adjust height to content */
  background-color: #4CAF50;
  color: white;
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 3.5rem;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Start hidden */
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}



/* Class to apply when showing the success popup */
.success-popup.show {
  visibility: visible;
  opacity: 1;
  animation: popupFadeIn 0.5s ease forwards;
}

/* Class to apply when hiding the success popup */
.success-popup.hide {
  animation: popupFadeOut 0.5s ease forwards;
  visibility: hidden;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 999;
  /* Slightly lower than the popup itself */
}


.toggle-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toggle-button:hover {
  transform: translateY(-2px);
}

.toggle-button svg {
  transition: transform 0.2s ease;
}

.toggle-button:hover svg {
  transform: scale(1.2);
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeEffect 0.5s ease-in-out forwards;
}